html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background-image: url('https://images.pexels.com/photos/6565123/pexels-photo-6565123.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
}

/* Google map */
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

@media (max-width:768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }  
}
